{% extends "base.html" %}

{% block content %}

<h1>Add a Blog Entry</h1>
    <form method="post">
            <label>Title for your new blog:<input name="title" type = "text" /></label>
            <!-- <span class="error">{{title_error}}</span> -->
        <br>
        <br>   
            <label for="body">Write your new Blog:</label> 

        <br>
        <br>
            <textarea name = "body" /></textarea>
                <!-- <input name="body" type = "textarea" value={{body}}> -->
            <!-- <span class="error">{{body_error}}</span> -->

        <br>
        <br>
            <input type="submit" value ="Add Entry"/>

    </form>

{% endblock %}